.careers-bottom{
    text-align: center;
}
.career-box{
    width: auto;
    height: auto;
    border: 3px solid #0c59db;
    padding: 8px;
}
.career-text{
    color: deepskyblue;
}
.title-bold{
    font-size: 34px;
    font-weight: 600;
}
.all-title{
    font-size: 26px;
    font-weight: 400;
}