<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-image: url(assets/images/contactus-banner.jpg);">
                <div class="page-title-item text-center">
                    <h2 class="title">Careers</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink='/'>Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Careers</li>
                        </ol>
                    </nav>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<div class="container">
    <div class="card" *ngFor="let career of careers" style="margin-top: 20px; margin-bottom: 20px;">
        <div>
            <h3 class="card-title">{{ career.title }}</h3>
        </div>
        <div class="card-body">
            <div class="section">
                <h5>Work Location:</h5>
                <p>Position may telecommute from anywhere in the U.S</p>
            </div>
            <div class="section">
                <h5>Job Duties:<br></h5>
                <p class="card-text">{{ career.description }}</p>
            </div>
          <div class="section">
            <h5>Requirements:</h5>
            <p>{{career.requirements}} </p>
           
        </div>
        <button (click)="onClick()">Click me!</button>
        </div>
      </div>
</div>