

.careers-bottom{
    text-align: center;
}
.career-box{
    width: auto;
    height: auto;
    padding: 8px;
}
.title-bold{
    font-size: 34px;
    font-weight: 600;
}
.all-title{
    font-size: 26px;
    font-weight: 400;
}
.card-title{
    margin: 20px;
}
.section{
    margin: 10px;
}